.div {
    display: inline-flex;
    align-items: center;
    height: 45px;
    position: relative;
}

.div:hover {
    background-color: lightgray;
    border-radius: 4px;
}

.div:hover .p {
    color: blue;
}

.div:hover .number {
    opacity: 1;
}

.img {
    width: 20px;
}

.p {
    font-size: 18px;
    margin-left: 10px;
    width: 200px;
}

.number {
    position: absolute;
    right: 5px;
    opacity: 0;
    color: blue;

}